body {
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #00B7FF;
}

h1{
	text-align: center;

}
.batchDiv{
	min-height: 35em;
}

.batchDiv h2{
	    text-align: center;
}

.batchDiv .number{
	    text-align: center;
	    font-size:6em;
}

.batchDiv .units{
	    text-align: center;
}

.batchDiv .error{
	text-align: center;
    padding-top: 8em;
    font-size: 1.5em;
}


.batchDiv canvas {
	margin-top: 3em;
}

.batchDiv .adminBar{
	text-align: center;
}

#temperatureHolder{
	margin-top: 3em;
}

.temperatureValue{
	text-align: center;
	margin-top: 0em;
}

.temperatureValue .value{
    font-size:7em;
}


hr {
    height: 1px;
    background-color:#AAA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.palette-color-picker-button{
	margin-left: 0.5em;
}

canvas{
	margin-top: 1em;
}